:root{
    --bkgColor: #000000;
    --textColor:#02dd00;
    --headerBkgColor:#02dd00;
    --headerTextColor:#000000;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: var(--bkgColor);
    color: var(--textColor);
}

.mobileHeader{
    width: 100%;
    padding: 12px;
    padding-top: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logoContainer{
    display: flex;
    align-items: center;
    width: 80%;
}

.logoStyle{
    width: 50px;
    height:50px;
}

.logoTextStyle{
    margin-left: 10px;
}

.btnStyle{
    width: 50px;
    height: 50px;
    background-color: var(--bkgColor);
    border: none;
}

.btnSVG{
    width: 40px;
    height: 40px;
}

.navStyle{
    width: 150px;
    height: 200px;
    margin-left:auto;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--headerBkgColor);
    color: var(--headerTextColor);
}

.navLinkStyle{
    margin-left:20px;
}

.firstSectionStyle{
    display:grid;
    grid-template-areas: "a1 "
                         "a2 "
                         "a3 "
                         "a4 ";
    align-items: center;
    justify-content: center;

}

.nameFrame{
    grid-area: a1;
}

.roleFrame{
    grid-area: a2;
}

.stackFrame{
    grid-area: a3;
}

.nameFrame, .roleFrame, .stackFrame{
    width:270px;
    height:180px;
}

.radarContainer{
    grid-area: a4;
}

.radarSVG{
    width:auto;
    height:auto;
}

.splitLineContainer,.revSplitContainer{
    width: 100%;
}

.lineSVG{
    width:100%;
}

.skillsGrid{
    display: flex;
    flex-direction: column;
}

.skillsTextSection{
    position: relative;
    margin-top: -34%;
    margin-left: 75%;
    font-size: 24px;
}

.htmlBox, .cssBox, .jsBox, .vueBox, .reactBox, .tpScriptBox,.nodeBox,.rubyBox{
    width:270px;
    height:180px;
}

.cssBox, .vueBox, .tpScriptBox, .rubyBox{
    margin-left: auto;
}

.aboutSection{
    height: 50%;

}

.aboutTextStyle{
    margin: -105px 0px 55px 25px;
    font-size: 24px;
}

.aboutSVG{
    width: 95%;
    margin: 0px 2.5% 45px 2.5%;
}

.projectsContainer{
    height: 100%;
    width: 100%;
}

.projectsTextStyle{
    width: 100%;
    text-align: end;
    margin: -34% 0px 50px -22px;
    font-size: 24px;
}

.projectScreenContainer{
    text-align: center;
    width: 100%;
    height: 80%;
}

.projectScreenSVG{
    width: 100%;
}

.buttonsContainer{
    width: 80%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 8%;

}

.btnLinkContainer{
    width: 40%;
}

.arrowLeftSVG, .arrowRightSVG{
    width: 40px;
    height: 40px;
}

.contactsTextStyle{
    margin: -100px 0px 10px 15px;
    font-size: 24px;
}

.contactsContainer{
    height: 200px;
}

.contactsLinks{
    margin:40px 0px 25px 15px;
}

.linkedinContainer, .githubContainer{
    margin-bottom: 20px;
}

.linkedinIcon, .githubIcon{
    width: 40px;
    height: 40px;
}

.linkStyle{
    color: #02dd00;
    
}



@media screen and (min-width:375px){
    .skillsTextSection{
        position: relative;
        margin-top: -34%;
        margin-left: 75%;
        font-size: 24px;
    }

    .aboutTextStyle{
        margin: -34% 0px 55px 25px;
        font-size: 24px;
    }


    .contactsTextStyle{
        margin: -34% 0px 10px 15px;
        font-size: 24px;
    }
}

