:root{
    --bkgColor: #000000;
    --textColor:#02dd00;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: var(--bkgColor);
    color: var(--textColor);
}

.firstSectionStyle{
    display: flex;
    align-items: center;
    height: 50vh;
}

.titleTextContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.svgContainer{
    height: 150px;
}

