:root{
    --bkgColor: #000000;
    --textColor:#02dd00;
    --headerBkgColor:#02dd00;
    --headerTextColor:#000000;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: var(--bkgColor);
    color: var(--textColor);
}

.mobileHeader{
    width: 100%;
    padding: 12px;
    padding-top: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logoContainer{
    display: flex;
    align-items: center;
    width: 80%;
}

.logoStyle{
    width: 50px;
    height:50px;
}

.logoTextStyle{
    margin-left: 10px;
}

.btnStyle{
    width: 50px;
    height: 50px;
    background-color: var(--bkgColor);
    border: none;
}

.btnSVG{
    width: 40px;
    height: 40px;
}

.navStyle{
    width: 150px;
    height: 200px;
    margin-left:auto;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--headerBkgColor);
    color: var(--headerTextColor);
}

.navLinkStyle{
    margin-left:20px;
}

.firstSectionStyle{
    display:grid;
    grid-template-areas: "a1 "
                         "a2 "
                         "a3 "
                         "a4 ";

}

.nameFrame{
    grid-area: a1;
    width:270px;
    height:180px;
}

.roleFrame{
    grid-area: a2;
    width:270px;
    height:180px;
}

.stackFrame{
    grid-area: a3;
    width:270px;
    height:180px;
}

.radarContainer{
    grid-area: a4;
}

.radarSVG{
    width:auto;
    height:auto;
}

.lineSVG{
    width:100%;
}


































































/*

.headerStyle{
    width: 100%;
    height: 60px;
    background-color: var(--headerBkgColor);
    color: var(--headerTextColor);
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 18px;
}


.firstSectionStyle{
    display: grid;
    grid-template-areas: "a1 a4"
                     "a2 a4"
                     "a3 a4";
    height: 45vh;
    width: 100vw;
    margin-top: 160px;
}

.titleTextContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 150px;
}

.roleSVG{
    position: relative;
    left: -10px;
    width:300px;
    height:180px;
}

.svgContainer1{
    height: 190px;
    width: 100vw;
    grid-area: a1;
}

.svgContainer2{
    height: 190px;
    width: 100vw;
    grid-area: a2;
    
}

.svgContainer3{
    height: 190px;
    width: 100vw;
    grid-area: a3;
}

.nameStyle{
    position: relative;
    top: 133px;
    left: 50px;
    font-size: 36px;

}

.roleStyle{
    position: relative;
    top: 130px;
    left: 50px;
    font-size: 36px;

}

.role2Style{
    position: relative;
    top: 120px;
    left: 60px;
    font-size: 36px;

}

.radarContainer{
    display: none;
    grid-area: a4;
}

.radarSVG{
    width:80vw;
    height:180px;
}

.splitLineContainer1{
    position: relative;
    top: 120px;
}

.svgAboutTextContainer{
    width: 90%;
    margin:20px 5% 10px 5%;
}

.skillsContainer{
    display: grid;
    grid-template:auto auto auto auto auto auto auto auto/100%;
}

.skillStackSVG{
    width:270px;
    height:180px;
}

.skilssText{
    text-align: right;
    margin: 93px 30px 0px 0px;
    font-size:27px ;
}
.skillReverseContainer{
    margin-left: auto;
}

.aboutSectionStyle{
    height: 45vh;
}

.aboutTextStyle{
    text-align: left;
    margin: -25px 0px 0px 20px;
    font-size:27px ;
}

.aboutTextContainerSVG{
    width:100%;
    height:100%;
    margin-top: 35px;
}

.svgContainer{
    position: relative;
    top: -150px;
    left: -7px;
}

.projectsTextStyle{
    text-align: right;
    margin: -24px 20px 0px 0px;
    font-size:27px ;
}

.projectsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.projectsScreenStyle{
    width:100%;
    height: 80vh;
}

.arrowsContainerStyle{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.linkTextStyle{
    font-size:27px ;
    position: relative;
    top: -55px;
    left: 15px;
}

.contactsTextStyle{
    text-align: left;
    margin: -27px 0px 0px 20px;
    font-size:27px ;
}

.contactOptionsContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}

.gitHubContainer{
    margin: 50px;
    height: 50px;
}

.iconGitContainer{
    width: 100px;
}

.linkedinContainer{
    margin: 50px;
    height: 50px;
}


*/
